<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Burger</title>
	<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="assets/css/burger_style.css">
</head>
<body>
	<h1>Burger Burger Burger!!</h1>
	<img src="assets/img/burger.jpg" class="pic">

{{{body}}}

	<div class="submit">
		<h2>New Burger</h2>


		<form method="POST" action="/" class="button-size">
			<input type="text" name="burger_name">

			<button type="submit">Add a burger!</button>
		</form>
</div>

	<footer>	DanDaManTran &copy;2016</footer>

</body>
</html>
